<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Baibucc cactus database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../cactus/resources/actions.js"></script>
    <link rel="stylesheet" type="text/css" href="../cactus/resources/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>

<body>
    <div th:insert="header :: header">dd</div>
    <div class="container">
        <span th:text="${allCactusList}"></span>
<!--        <table class="tables" align="center">
            <h3>Electric bike administration list</h3>
            <th>No</th>
            <th>Employee</th>
            <th>Bike ID</th>
            <th>From date:</th>
            <th>To date:</th>
            <th>Actions</th>
            <tr th:each="user : ${listUser}">
                <td width="20px"><span></span>1</td>
                <td><span th:text="${user.employee}"></span></td>
                <td><span th:text="${user.name}"></span></td>
                <td><span width="100px"th:text="${user.date1}"></span></td>
                <td><span width="100px" th:text="${user.date2}"></span></td>
                <td>
                    <a class="button" th:href="'editUserBike?id='+${user.id}">Add/edit bike</a>
                    <a class="button" th:href="'removeBike?id='+${user.id}">Remove</a>
                    <a class = "buttonDelete" href="deleteUser?id=${user.id}">Delete employee</a>
                </td>
            </tr>	        	
        </table>
        
         NEW TABLE 
        <table class="tables" align="center">
            <h3>Overall cactus list</h3>
            <th>No</th>
            <th>Employee</th>
            <th>Bike ID</th>
            <th>From date:</th>
            <th>To date:</th>
            <th>Actions</th>
            <tr th:each="user : ${listUser}">
                <td width="20px"><span></span>1</td>
                <td><span th:text="${user.employee}"></span></td>
                <td><span th:text="${user.name}"></span></td>
                <td><span width="100px"th:text="${user.date1}"></span></td>
                <td><span width="100px" th:text="${user.date2}"></span></td>
                <td>
                    <a class="button" th:href="'editUserBike?id='+${user.id}">Add/edit bike</a>
                    <a class="button" th:href="'removeBike?id='+${user.id}">Remove</a>
                    <a class = "buttonDelete" href="deleteUser?id=${user.id}">Delete employee</a>
                </td>
            </tr>	        	
        </table>-->
        
        
    </div>
    
    
    
<!--    <div align="center">
        <table>
            <tr>
               <td class="tablerow">
                    <table class="tables">
                        <h3>All bikes</h3>
                        <th>Bike ID</th>
                        <th>Status</th>
                        <th>Available</th>
                        <th>Actions</th>
                            <c:forEach var="bike" items="${listBike}" varStatus="status">
                            <tr>
                                <td>${bike.bikename}</td>
                                <td width="50px" align="center">
                                    <img src="resources/${bike.status}.png" />
                                </td>
                                <td width="50px" align="center">
                                    <img src="resources/${bike.available}.png" />
                                </td>
                                <td>
                                    <a class = "button" href="editBike?id=${bike.id}">Edit</a>
                                    <a class = "buttonDelete" href="deleteBike?id=${bike.id}">Delete</a>
                                </td>

                            </tr>
                        </c:forEach>	        	
                    </table>
                </td><td  class="tablerow">
                    <table class="tables">
                        <h3>Available bikes</h3>
                        <th>Bike ID</th>
                        <th width="50px">Status</th>
                        <th width="50px">Available</th>

                        <c:forEach var="bike" items="${listAvailable}" varStatus="status">
                            <tr>
                                <td>${bike.bikename}</td>
                                <td width="50px" align="center">
                                    <img src="resources/${bike.status}.png" />
                                </td>
                                <td width="50px" align="center">
                                    <img src="resources/${bike.available}.png" />
                                </td>

                            </tr>
                        </c:forEach>	        	
                    </table>
                </td>
            </tr></table>
    </div>-->

    <div align="center">This is footer</div>
</body>
</html>
